In [1]:
import json
import os 
import pandas as pd 
import nltk
import numpy as np
import matplotlib.pyplot as plt 
import fasttext
from nltk.tokenize import word_tokenize
from pprint import pprint

In [2]:
default_path = '/home/lamda_00/Data-related'
data_path = os.path.join(default_path, 'data', 'Reddit_origin')
save_path = os.path.join(default_path, 'data', 'Reddit_processed')
model_path = os.path.join(default_path, 'model')

In [3]:
file_list = os.listdir(data_path)
reddit_rs = [file for file in file_list if 'RS' in file and '2010' in file]
reddit_rs = reddit_rs[:1]

In [35]:
for reddit in reddit_rs:
    file = open(os.path.join(data_path, reddit), "r")
    data = file.readlines()
    print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [29]:
reddit_rs

['RS_2014-01']

In [31]:
file = open(os.path.join(data_path, reddit_rs[0]), 'r')
file.readlines()[0]

'{"author_flair_css_class":null,"num_comments":19,"saved":false,"over_18":false,"name":"t3_1u4kuf","link_flair_css_class":null,"gilded":0,"archived":true,"id":"1u4kuf","from":null,"author":"DASHLICKER1991","is_self":false,"from_id":null,"url":"http://fc05.deviantart.net/fs71/f/2013/001/5/1/rainbow_dash_wishes_you_a_happy_new_year_by_lanetafr-d5q1hho.png","secure_media":null,"from_kind":null,"created":1388534400,"subreddit_id":"t5_2yy7r","stickied":false,"score":3,"edited":false,"quarantine":false,"created_utc":"1388534400","author_flair_text":null,"media_embed":{},"subreddit":"DASHLICKING","domain":"fc05.deviantart.net","hide_score":false,"downs":0,"thumbnail":"http://e.thumbs.redditmedia.com/2x-WMwZgHAdbPHb4.jpg","distinguished":null,"title":"HAPPY BLUE YEAR!","secure_media_embed":{},"link_flair_text":null,"permalink":"/r/DASHLICKING/comments/1u4kuf/happy_blue_year/","selftext":"","media":null,"ups":3,"retrieved_on":1441978093}\n'

In [36]:
depression_rs_post = []
err = []

for reddit in reddit_rs:
    file = open(os.path.join(data_path, reddit), "r")
    data = file.readlines()
    print(data)
    
    for content in data:
        try:
            json_file = json.loads(content)
        except:
            err.append(content)
            continue
            # print(content)
        # print(json_file)
        # if (json_file['subreddit_id'] == 't5_2qqqf' or json_file['subreddit'] == 'mentalillness') and \
        # (json_file['selftext'] != '[deleted]' and 'http' not in json_file['selftext'] and json_file['selftext'] != ''):
            depression_rs_post.append(json_file)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [37]:
len(depression_rs_post)

0

In [11]:
file_list = os.listdir(data_path)
reddit_rc = [file for file in file_list if 'RC' in file and '2010' in file]
reddit_rc

['RC_2010-01',
 'RC_2010-02',
 'RC_2010-03',
 'RC_2010-04',
 'RC_2010-05',
 'RC_2010-06',
 'RC_2010-07',
 'RC_2010-08',
 'RC_2010-09',
 'RC_2010-10',
 'RC_2010-11',
 'RC_2010-12']

In [12]:
depression_comment = []

for reddit in reddit_rc:
    file = open(os.path.join(data_path, reddit), "r")
    data = file.readlines()
    for content in data:
        json_file = json.loads(content)
        if (json_file['subreddit'] == 'depression' or json_file['subreddit'] == 'mentalillness') and json_file['body'] != '[deleted]':
            depression_comment.append(json_file)

In [21]:
for comment in depression_comment:
    if 'akj8u' in comment['id']:
        print(comment['id'])

In [14]:
depression_comment[0]

{'score_hidden': False,
 'link_id': 't3_akheu',
 'subreddit': 'depression',
 'author': 'newacct2010',
 'edited': False,
 'gilded': 0,
 'created_utc': '1262340959',
 'author_flair_css_class': None,
 'score': 2,
 'downs': 0,
 'archived': True,
 'parent_id': 't3_akheu',
 'ups': 2,
 'distinguished': None,
 'author_flair_text': None,
 'subreddit_id': 't5_2qqqf',
 'body': "I realized now that there was probably a depression subreddit, there is a subreddit for everything.. so i figured I'd ask you guys since you would likely be the most knowledgeable on the subject.",
 'retrieved_on': 1426171823,
 'name': 't1_c0i1mx6',
 'id': 'c0i1mx6',
 'controversiality': 0}

In [7]:
file = pd.read_csv(os.path.join(save_path, 'dataset_01_rc.csv'))
file.head()

,id,subreddit,author,comment,ups,downs,score,created_utc,token_len
0,t3_akj8u,depression,aenea,i know that there is some research going on ab...,2.0,0.0,2.0,1.262363e+09,218
1,t3_akj8u,depression,SarahC,the drug in its current form is addictive phys...,2.0,0.0,2.0,1.262364e+09,197
2,t3_akj8u,depression,SarahC,i'm not sure i'd be allowed to give info like ...,2.0,0.0,2.0,1.262364e+09,243
3,t3_akj8u,depression,SarahC,i've been extremely careful with the addiction...,1.0,0.0,1.0,1.262365e+09,470
4,t3_akj8u,depression,lebalove,i'm a current/former opiate addict. currently ...,6.0,0.0,6.0,1.262368e+09,348

In [7]:
file[file.text.str.len() <= 5]

               id     type   text  label
65          amruc     post  right      0
268         aycre     post      "      0
378         b5c96     post    meh      0
544         baz3u     post      s      0
760         bhhc2     post  again      0
...           ...      ...    ...    ...
829009  t3_15qn0a  comment      7      0
829011  t3_15qn0a  comment      8      0
829013  t3_15qn0a  comment      9      0
829018  t3_15qn0a  comment     no      0
829029  t3_15qwvr  comment     :)      0

[17684 rows x 4 columns]

### 2. Dataset 1 EDA

In [30]:
data1_rs = pd.read_csv(os.path.join(save_path, 'dataset_01_rs.csv'))
data1_rc = pd.read_csv(os.path.join(save_path, 'dataset_01_rc.csv'))

In [31]:
print(data1_rs.title.str.contains('depress').sum())
print(data1_rs.context.str.contains("depress").sum())
print(data1_rc.comment.str.contains("depress").sum())

4624
12648
28710

In [ ]:
data

### 3. Dataset 2 EDA

In [7]:
data = pd.read_csv(os.path.join(save_path, 'dataset2.csv'))

In [11]:
data.text.str.contains('depress').sum()

52076

In [26]:
data.text.str.contains('cognitive').sum()

677